<div class="ui-g">
  <div class="ui-g-12 ui-fluid">
      <p-dataView id="tabela" class="tabela ui-fluid" [value]="atendimentos" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" layout="list">

        <ng-template let-atendimento pTemplate="listItem">
          <app-card-atendimento [atend]="atendimento" class="ui-g-12 convenios"></app-card-atendimento>
        </ng-template>
    </p-dataView>

    <div class="ui-g-1" style="text-align: right;">
      <a pButton label="Novo Atendimento" routerLink="/atendimento/novo"></a>
    </div>
  </div>
</div>
