<div class="conteudogeral">
    <section class="ui-g ui-fluid">
      <section class="ui-g-12">
        <div class="ui-g-11">
          <h4>Patient: {{patient?.patientname}}</h4>
        </div>

        <div class="ui-g-1">
          <a routerLink="/servidor">
            <i class="fa fa-fw fa-undo" aria-hidden="true">Voltar</i>
          </a>
        </div>
      </section>

      <section class="ui-g-12">
        <div>
          <div>
            {{patient?.patientname}}, possui um total de {{patient?.studyes.length}} Estudo(s)
          </div>

          <div>
            <span>Nome: {{patient?.patientname}}</span>
          </div>

          <div>
            <span>Id: {{patient?.patientid}} </span>
          </div>
        </div>
      </section>

      <section class="ui-g-12">
        <div>
          <p-treeTable [value]="estudos">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Size</th>
                    <th>Type</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
                <tr [ttRow]="rowNode">
                  <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{patient.idpatient}}
                  </td>
                  <td>{{studyinstanceuid}}</td>
                  <td>{{patient.patientname}}</td>
                </tr>
            </ng-template>
          </p-treeTable>
        </div>
      </section>

    </section>
</div>
