<div class="ui-g">
  <div class="ui-g-12 ui-fluid">
      <p-dataView id="tabela" class="tabela ui-fluid" [value]="convenios" [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" layout="list">

        <ng-template let-convenio pTemplate="listItem">
          <app-card-convenio [conv]="convenio" class="ui-g-12 convenios"></app-card-convenio>
        </ng-template>
    </p-dataView>

    <div class="ui-g-1" style="text-align: right;">
      <a pButton label="Novo Convênio" routerLink="/convenios/novo"></a>
    </div>
  </div>
</div>
