<div style="text-align:center" class="ui-g">
  <div class="ui-g-12">
    <button class="actionBtn" (click)="triggerSnapshot();">Capturar</button>
    <button class="actionBtn" (click)="toggleWebcam();">Alternar Disposito</button>
    <br/>
    <button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Prox Disp.</button>
    <input id="cameraSwitchCheckbox" type="checkbox" [(ngModel)]="allowCameraSwitch"><label for="cameraSwitchCheckbox">Allow Camera Switch</label>
    <br/>
  </div>

  <div class="ui-g-12">
    DeviceId: <input id="deviceId" type="text" [(ngModel)]="deviceId" style="width: 500px">
    <button (click)="showNextWebcam(deviceId);">Activate</button>
  </div>

  <div class="ui-g-12">
    <webcam [height]="800" [width]="450" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
  </div>

</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Teste inicial</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
</div>
